<form class="form center-form" method="POST">
  <h2>Add Category</h2>

  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" class="input-field" type="text" name="name"/>

    <input class="form-btn btn" type="submit" value="Add" />
  </div>
</form>