<div>
  <ul class="categories">
    {{#each categories}}
      <li><a a href="/list/{{this.name}}">{{this.name}}</a> <a href="/category/delete/{{this._id}}">Delete</a></li>
    {{/each}}
  </ul>
</div>