<h1 class="head-title">Welcome to the Forum!</h1>

<form id="search-form">
  <input type="text" name="query" placeholder="Search..." />
  <input type="submit" value="Search"/>
</form>

{{#each threads}}
  <div class="threads" >
    <h2>{{this.title}}</h2>
    <p>{{this.description}}</p>
  </div>
{{/each}}