<form class="center-form" action="/admins/add" method="POST">
  <div class="form-group" >
    <label for="username">Add admin</label>
    <input class="input-field" type="text" name="username" value="{{username}}" />
  </div>

  <div class="form-group">
    <input class="form-btn btn" type="submit" value="Add" />
  </div>
</form>